@using LibraryManagmentSystem.Web.ViewModels
@using LibraryManagmentSystem.Web.ViewModels.BookVMs


@model UpdateBookViewModel

@{
    ViewBag.title = "UpdateBook";
}


<div class="container">
    <div class="row  col-12 p-2 d-flex justify-content-center ">
        <h2>Update Book</h2>
        <form asp-controller="book" asp-action="edit" class="col-12 col-md-6 border border-1 rounded shadow mt-3 p-4" method="post">
            <div class="mb-3 mt-3 visually-hidden">
                <label class="form-label h6" asp-for="Id"></label>
                <input class="form-control" asp-for="Id">
                <span asp-validation-for="Id"></span>
            </div><!--  -->
            
            
            <div class="mb-3 mt-3 ">
                <label class="form-label h6" asp-for="Title"></label>
                <input class="form-control" asp-for="Title">
                <span asp-validation-for="Title"></span>
            </div><!--  -->
            <div class="mb-3 ">
                <label class="form-label h6" asp-for="AuthorId"></label>
                <select asp-for="AuthorId" class="form-select">
                    @foreach (var author in ViewBag.authorsList)
                    {
                        <option value="@author.Id">@author.FullName</option>
                    }
                </select>
            </div><!--author  -->



            <div class="mb-3 ">
                <label class="form-label h6" asp-for="Genre"></label>
                <select asp-for="Genre" class="form-select">
                    @foreach (var genre in ViewBag.Genres)
                    {
                        <option value="@genre.Value">@genre.Text</option>
                    }
                </select>
            </div><!--genre  -->

            <div class="mb-3 ">
                <label class="form-label h6" asp-for="Description"></label>
                <input class="form-control" asp-for="Description">
                <span asp-validation-for="Description"></span>

            </div><!--  -->




            <div class="d-flex justify-content-center mt-4 ">
                <button type="submit" value="submit" class="btn btn-dark mb-3">Update</button>
            </div>
        </form>
    </div><!-- row -->
</div>